
@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Handjet:wght@100..900&display=swap');


body {
  margin: 0;
  font-family: "Dosis", sans-serif;
  font-size: 15px;
}

#splash-screen {
  background-image: url("./Images/BG.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/*seccion titulo y boton*/
#start {
  padding: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: rgb(0, 134, 175);
  font-family: "Protest Guerrilla", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 125px;
  text-shadow: 10px 2px 10px #175884;
  text-align: center;
  padding: 0px;
  margin: 10px;
}

#start-btn {
  width: 125px;
  height: 125px;
  background-image: url("./Images/egg.png");
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  text-align: center;
  font-size: 30px;
  font-family: "Dosis", sans-serif;
  font-weight: 700;
}

.container{
  background-color: rgb(165, 191, 194);
  border: 4px dashed rgba(202,230,255,0.82);
  padding: 5px;
}

#columns{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-evenly;
  align-items: center;
}

#columns > div {
  flex: 1; /* Els divs es faran iguals i ocuparan l'espai disponible */
  min-width: 500px; /* Amplada mínima */
}

#instructions {
  width: 800px;
  padding: 0px;
  margin: 15px;
}

#instructions .controls{
  display: flex;
  flex-direction: row;
  height: 150px;
  width: 150px;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
}

#information{
  display: flex;
  flex-direction: row;
  gap: 50px;
}

#instructions h4{
  display: flex;
  justify-content: center;
  padding: 0px;
}

#columnas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 50px;
  gap: 20px;
}

#name {
  width: 300px;
  height: 40px;
  font-size: 25px;
}

#game-screen{
  background-image: url("./Images/BG.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#mute {
  background-image: url("./Images/mute.png");
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  text-align: center;
  height: 20px;
  width: 20px;
}

#options{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#game-box {
  background-color: grey;
  width: 1000px;
  height:800px;
  border: 30px;
  border: 7px ridge rgba(28,113,168,0.82);


  position: relative; /* permite posicionar los elementos de forma absoluta dentro del game-box */
  overflow: hidden; /* previene que los elementos salgan visualmente del game-box */
  user-select: none; /* previene que los elementos del game-box sean resaltados al hacer click */

  background-image: url("./Images/Background.png");
  background-position: center;
  background-size: cover;

}

#game-box * {
  pointer-events: none; /* previene que todos los elementos del game-box sean arrastrados al clickar sobre ellos */

}

#game-over-screen{
  background-image: url("./Images/BG.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

#end {
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#roasted-chicken{
  width: 350px;
  height: 250px;
}

#restart-btn {
  width: 150px;
  height: 150px;
  background-image: url("./Images/Paloma.png");
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  text-align: center;
  font-size: 25px;
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  color: white;
  text-shadow: 10px 2px 10px #175884;
}

#menu-btn {
  width: 150px;
  height: 150px;
  background-image: url("./Images/egg.png");
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  text-align: center;
  font-size: 30px;
  font-family: "Dosis", sans-serif;
  font-weight: 700;
}

#game-screen, #game-over-screen { /*seleccionar pantallas juego y final para ocultarlas*/
  display: none;
}