
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Handjet:wght@100..900&display=swap');

body {
  margin: 0;
  font-family: "Dosis", sans-serif;
  font-size: 30px;
  
}

#splash-screen {
  background-image: url("./Images/fons-inici.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}

#splash-screen .container{
  display: flex;
  flex-direction: column;
}

#start-btn {
  width: 100px;
  height: 100px;
  background-image: url("./Images/poop-emoji.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  padding: 0;
  outline: none;   
}


#instructions {
  background-color: rgb(36, 87, 36);
  margin: 10px
}

#instructions h4{
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

#game-box {
  background-color: grey;
  width: 1000px;
  height:800px;

  position: relative; /* permite posicionar los elementos de forma absoluta dentro del game-box */
  overflow: hidden; /* previene que los elementos salgan visualmente del game-box */
  user-select: none; /* previene que los elementos del game-box sean resaltados al hacer click */

  background-image: url("./Images/Background.png");
  background-position: center;
  background-size: cover;

}

#game-box * {
  pointer-events: none; /* previene que todos los elementos del game-box sean arrastrados al clickar sobre ellos */
}

#game-screen, #game-over-screen { /*seleccionar pantallas juego y final para ocultarlas*/
  display: none;
}