body {
  margin: 0;
  
}

.splash-screen {
  background-image: url("./Images/fonsinici.png")
}

#start-btn {
  background-color: rgb(94, 41, 6);
  color: white;
  padding: 20px;
  font-size: 20px;
  margin-top: 40px;
  border-radius: 10px; 
}

#instructions {
  background-color: rgb(36, 87, 36);
  margin: 10px
}

#instructions h4{
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

#game-box {
  background-color: grey;
  width: 1000px;
  height:800px;

  position: relative; /* permite posicionar los elementos de forma absoluta dentro del game-box */
  overflow: hidden; /* previene que los elementos salgan visualmente del game-box */
  user-select: none; /* previene que los elementos del game-box sean resaltados al hacer click */

  background-image: url("./Images/Background.png");
  background-position: center;
  background-size: cover;

}

#game-box * {
  pointer-events: none; /* previene que todos los elementos del game-box sean arrastrados al clickar sobre ellos */
}

#game-screen, #game-over-screen { /*seleccionar pantallas juego y final para ocultarlas*/
  display: none;
}